body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #2d3158;
}

header {
    background: #252945;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background: #252945;
    color: #dadada;
    text-align: center;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#vidas {
    color: #FC8585; /* Naranja */
}

#megas {
    color: #6AB9FF; /* Verde */
}

#minutos {
    color: #92FFC4; /* Azul */
}

#sinmegas {
    color: #FFF1A1; /* Azul */
}

#dinamica {
    color: #F5B3FF; /* Azul */
}